<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node JS class</title>
</head>
<style>

.title{
    display: grid;
    background: blueviolet;
    height: 100vh;
    width: 100%; 
    justify-content: center;
    align-content: center;
    text-align: center;
}

.title-main , .title-body{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 15px;
    display: block;
    text-align: center;
}
</style>

<body>
    <%- include('../partials/navBar.ejs')%>
    <div class="title">
    <h1 class="title-main">Welcome to my local server</h1>
    <h3 class="title-body">This is About html</h3>
    <h1><%= data.name %></h1>  
    <h3><%= data.lastName %></h3>
    <%  places.forEach((element)=>{ %>   
          <li><%= element%> </li>
    <% }) %>
     </div>
</body>
</html>